<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>奢易购3.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC829E191D3C9E85001DA9B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC829E321D3C9E86001DA9B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC829E3D1D3C9E86001DA9B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
